<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%"><tr><td>
 
      <p>Hello <%= "#{@registration.parent_first_name} #{@registration.parent_last_name}" %></p>
      <p>
        Thank you for your registration for the <%= "#{APP_SHORT_NAME} #{@registration.product.name}" %> league.
        This email is to confirm registration for <strong><%= @registration.first_name + ' ' + @registration.last_name %></strong>.
        Please check over the registration details below to make sure they are correct.
        If there is an error, you may reply to this message with any changes you would like to make.
      </p>
      <p>
        This message is to confirm your registration only. You should receive separate confirmation of your online payment
        (by credit card or paypal).
      </p>
      
      <h4>Registration information</h4>
      <table width="600">
        <tr><td>Player: </td><td><%= @registration.first_name + ' ' + @registration.last_name %></td></tr>
        <tr><td>Address: </td>
          <td>
            <%= @registration.address %>
            <br /><%= @registration.city + ', ' + @registration.state + ' ' + @registration.zip %>
        </td></tr>
        <tr><td>Phone: </td><td><%= @registration.phone %></td></tr>
        <tr><td>Email: </td><td><%= @registration.email %></td></tr>
        <tr><td>School: </td><td><%= @registration.school %></td></tr>
        <tr><td>Grade: </td><td><%= @registration.grade %></td></tr>
        <tr><td>Session: </td><td><%= @registration.product.name %></td></tr>
        <tr><td>Tshirt: </td><td><%= @registration.tshirt_size %></td></tr>
        <tr><td>Special note: </td><td><%= @registration.note %></td></tr>
      </table>
      
      <% if @registration.parent_helper? %>
        <p>We have noted your willingness to help with a team and will contact you with more information - thanks!</p>
      <% end %>
      
      <%#= league_when_and_where_grid.html_safe %>
      
      <p>
        You will receive more information regarding your team assignment as the league start date approaches.
        If you have any questions about this registration, reply to this email or send them to
        <a href="mailto:<%= INFO_EMAIL_ADDRESS %>"><%= INFO_EMAIL_ADDRESS %></a>.
        Thanks, and see you at volleyball!
      </p>
      
      <p>
        <%= APP_LONG_NAME %>
        <br /><%= APP_ADDRESS[:street] %>
        <br /><%= APP_ADDRESS[:city_state_zip] %>
        <br /><%= APP_PHONE %>
      </p>
      <p>
        <a href="mailto:<%= INFO_EMAIL_ADDRESS %>"><%= INFO_EMAIL_ADDRESS %></a>        
        <br /><a href="http://<%= APP_HOST_NAME %>/" http://<%= APP_HOST_NAME %>/</a>        
      </p>      
    </td></tr></table>
  </body>
</html>