<h1>Change <%= @user.email %></h1>

<%= form_for @user, :url => { :action => :update } do |f| %>
	<%= render 'shared/errors',  :object => @user %>
	<%= render 'fields', :f => f %>
  <div class="actions"><%= f.submit %></div>
<% end %>