<h1>Admin users</h1>
<table>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.created_at %></td>
				<td style="width:1%;white-space:nowrap">
					<%= link_to 'Change', edit_user_path(user) %> | 
					<%= link_to 'Remove', 
						user_path(user), 
						:confirm => "Are you sure? #{user.email} will be permanently removed", 
						:method => :delete 
					%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<p><%= link_to 'Add user &raquo;'.html_safe, new_user_path %>