<h1>Registrations</h1>

<% if @registrations.any? %>
	<table>
		<thead>
			<tr>
				<th>Player</th>
				<th>Email</th>
				<th>Sess_id</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	<% @registrations.each do |registration| %>
		<tr>
			<td><%= link_to "#{registration.last_name}, #{registration.first_name}", registration_path(registration) %></td>
			<td><%= registration.email %></td>
			<td><%= registration.product.id %></td>
			<td class="actions">
				<%= link_to 'Edit', edit_registration_path(registration) %>
				| <%= link_to 'Remove', registration_path(registration), :confirm => "This registration for #{registration.first_name} #{registration.last_name} will be removed. There is no undo. ", :method => :delete %>
				| <%= link_to 'Confirm', confirm_registration_path(registration), :method => :post %>
				|
				<% if registration.payment.nil? %>
					<%= link_to 'Payment', new_registration_payment_path(registration) %>
				<% else %>
					<%= link_to 'Payment', edit_registration_payment_path(registration, registration.payment) %>
				<% end %>
		</tr>
	<% end %>
		</tbody>
	</table>
<% else %>
	no registrations
<% end %>