<h1>Contact <%= APP_SHORT_NAME %></h1>
<p>
	<strong><%= APP_LONG_NAME %></strong>
	<br /><%= APP_ADDRESS[:street] %>
	<br /><%= APP_ADDRESS[:city_state_zip] %>
</p>
<p>
  <br /><%= mail_to "info@lakevillejuniors.com" %>
  <br /><%= APP_PHONE %>
</p>