<h1>Website Privacy and Security</h1>
<h4>Privacy and Security</h4>
<p><%= APP_LONG_NAME %> is a community based youth sports program. We designed this 
  website with both its usefulness and your privacy in mind. <%= APP_LONG_NAME %> recognizes the 
  potential sensitivity of confidential information that may be placed in group web pages or 
  transmitted via group messaging and is firmly committed to protecting your privacy. 
  The following discloses our information gathering and dissemination practices for this site.
  If you have any questions about our privacy policy or the terms and conditions, feel free to contact us at
  <%= mail_to INFO_EMAIL_ADDRESS %>.
</p>

<h4>When Does <%= APP_LONG_NAME %> Collect Personal Information?</h4>
<p><strong>Registration</strong>. When you register with <%= APP_LONG_NAME %>, we will request some personal information 
  including your first name, your last name, email address and other contact information. We use your 
  registration information to manage your program registrations. 
  Therefore, when you register as or for a youth volleyball player with <%= APP_LONG_NAME %>, we ask for your honest responses to this information, 
  and you represent that your responses are correct and accurate, so that we can serve you more 
  efficiently and effectively.
</p>
<p><strong>Links to Other Sites</strong>. Please note that you could be directed to another site while using 
  <%= APP_LONG_NAME %>. When you link to another site, you should review their privacy policy, as it may 
  be different from ours. <%= APP_LONG_NAME %> is not responsible, and shall not be liable, for the privacy 
  practices of linked sites or any use such sites may make of any information collected from you. 
  This privacy policy applies solely to information collected by this web site.
</p>
<p><strong>Children</strong>. Children should not submit any personal information without the permission
  of their parents or guardians. <%= APP_LONG_NAME %> encourages all parents or guardians to instruct 
  their children in the safe and responsible use of their personal information while using the Internet. 
</p>

<h4>When Does <%= APP_LONG_NAME %> Share My Personal Information?</h4>
<p><strong>Third Parties</strong>. We do not disclose your personally identifying information to 
  third parties unless we believe we are required to do so by law or have a good faith belief 
  that such access, preservation or disclosure is reasonably necessary to (a) satisfy any applicable law, 
  regulation, legal process or governmental request, (b) enforce the <%= APP_LONG_NAME %> Terms of Use, 
  including investigation of potential violations thereof, (c) detect, prevent, or otherwise address 
  fraud, security or technical issues (including, without limitation, the filtering of spam), 
  (d) respond to user support requests, or (e) protect the rights, property or safety of 
  <%= APP_LONG_NAME %>, its members and the public.
</p>
<p><strong>Business Transfers</strong>. <%= APP_LONG_NAME %> does not sell, rent or disclose any of your 
  member account information with third parties. In the event <%= APP_LONG_NAME %> goes through a 
  business transition, such as a merger, acquisition by another company, or sale of all or a 
  portion of its assets, your member account information will likely be among the assets transferred. 
  You will be notified via email and notice on our website for 30 days of any such change in 
  ownership or control of your member account information.
</p>
<p><strong>Aggregate Information</strong>. When you access <%= APP_LONG_NAME %>, our server automatically 
  collects certain information that is not personally identifiable, such as your IP address, 
  pages viewed, and length of time spent on the web site. We collect and use this information, 
  in the aggregate only, to diagnose problems with our servers and to improve <%= APP_LONG_NAME %>.
</p>

<h4>Security</h4>
<p><%= APP_LONG_NAME %> takes precautions to ensure the security of your member account information and 
  strives to keep it accurate. We follow generally accepted industry standards to protect your member 
  information once you have entrusted it to us, both during transmission and once we receive it. 
  We have appropriate security measures in place in our physical facilities to protect against the loss, 
  misuse, or alteration of information that we have collected from you at our site.
</p>
<p>
  However, no method of transmission over the internet or method of electronic storage is 100% secure. 
  Therefore, while we strive to use commercially acceptable means to protect your member account information,
  we cannot guarantee its absolute security.
</p>
<h4>Your Consent to Our Privacy Policy</h4>
<p>By using this website you consent to the collection and use of information about you in 
  the ways described in this privacy policy. <%= APP_LONG_NAME %> reserves the right to update and 
  amend this policy from time to time to remain consistent with new products, services, 
  processes and Internet privacy legislation. We will post changes to the privacy policy 
  on this page. If we materially change how we use your personal information we will notify 
  you by email or by means of a notice on our home page. The amended policy shall automatically 
  be effective five (5) days after they are initially posted on the web site. Your continued 
  use of <%= APP_LONG_NAME %> services after the effective date of any posted change constitutes 
  your acceptance of the amended policy as modified by the posted changes. For this reason, 
  we encourage you to review this privacy policy whenever you use the <%= APP_LONG_NAME %> services. 
  The last date this privacy policy was revised is set forth below.
</p>
<h4>Contact Us</h4>
<p>If you have questions or suggestions regarding our privacy policy, please contact us:</p>
<strong><%= APP_LONG_NAME %></strong>
<br /><%= APP_ADDRESS[:street] %>
<br /><%= APP_ADDRESS[:city_state_zip] %>
<br /><%= mail_to INFO_EMAIL_ADDRESS %>
<p>Send us <%= mail_to INFO_EMAIL_ADDRESS, "feedback" %> about <%= APP_LONG_NAME %>.
  This privacy policy last updated on March 16th, 2012.
</p>
