<%= form_for [@registration, @payment] do |f| %>
	<%= render 'shared/errors',  :object => @payment %>
  <fieldset>
    <legend>Payment for registration</legend>
		<%= render 'registration_summary' %>
		<%= render 'payment_summary' %>
		<div class="field">
		  <%= f.label :amount, 'Payment (in dollars)' %>
		  <%= f.text_field :amount, :class => 'text small' %>
		</div>
		<div class="field">
			<div class="checkbox">
				<%= f.check_box :online %>
				<%= f.label :online, 'Online registration?' %>
			</div>
		</div>
		<div class="field">
			<div class="checkbox">
				<%= f.check_box :scholarship %>
				<%= f.label :scholarship, 'Scholarship?' %>
			</div>
		</div>
		<div class="actions">
			<%= f.submit 'Save' %>
			or <%= link_to 'Cancel', registrations_path %>
		</div>
	</fieldset>
<% end %>