<table class="first_column_fixed info no_zebra">
	<tbody>
		<tr><td>Player:</td><td><%= "#{@registration.last_name}, #{@registration.first_name}" %></td></tr>
		<tr><td>Parent:</td><td><%= "#{@registration.parent_last_name}, #{@registration.parent_first_name}" %></td></tr>
		<tr><td>Email:</td><td><%= @registration.email %></td></tr>
		<tr><td>Session:</td><td><%= @registration.product.name %></td></tr>
		<tr><td>Price:</td><td><%= @registration.product.price %></td></tr>
	</tbody>
</table>
