<h1>Products</h1>
<p>
	<%= link_to 'New product &raquo;'.html_safe, new_product_path %>
</p>
<% if @products.any? %>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Price</th>
				<th>Session</th>
				<th>Enabled?</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |p| %>
				<tr>
					<td><%= link_to p.name, product_path(p) %></td>
					<td><%= p.description %></td>
					<td><%= p.price %></td>
					<td><%= p.session %></td>
					<td><%= p.enabled %></td>
					<td class="actions">
						<%= link_to 'Change', edit_product_path(p) %>
						| <%= link_to 'Remove', product_path(p), :confirm => "This product #{p.name} will be removed. There is no undo. ", :method => :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>No products!</p>
<% end %>



