<%= form_for @product do |f| %>
	<%= render 'shared/errors', :object => @product %>
	<fieldset>
		<legend>New product</legend>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name, :class => :text %>
		</div>
		<div class="field">
			<%= f.label :description %>
			<%= f.text_area :description, :class => :text %>			
		</div>
		<div class="field">
			<%= f.label :price, 'Price (in dollars)' %>
			<%= f.text_field :price, :class => 'text small' %>
		</div>
		<div class="field">
			<div class="checkbox">
				<%= f.check_box :enabled %>
				<%= f.label :enabled, 'Enabled?', :class => :text %>
			</div>
		</div>
		<div class="actions">
			<%= f.submit 'Save' %>
			or <%= link_to 'Cancel', products_path %>
		</div>
	</fieldset>
<% end %>
