<h1>Details for <%= @product.name %></h1>

<p>
	<%= link_to 'Back to products'%>
	| <%= link_to 'Change', edit_product_path(@product) %>
	| <%= link_to 'Remove', product_path(@product), :confirm => "This product #{@product.name} will be removed. There is no undo. ", :method => :delete %>
</p>

<table class="first_column_fixed">
	<tbody>
		<tr>
			<td>Product: </td>
			<td><%= @product.name %></td>
		</tr>
		<tr>
			<td>Description: </td>
			<td><%= @product.description %></td>
		</tr>
		<tr>
			<td>Price: </td>
			<td><%= @product.price %></td>
		</tr>
		<tr>
			<td>Enabled?: </td>
			<td><%= @product.enabled? %></td>
		</tr>
	</tbody>
</table>
