<ul>
  <li><%= link_to "Home", pages_index_path, :class => "index" %></li>
  <li><%= link_to "Register", new_registration_path, :class => "register" %></li>
  <li><%= link_to "Calendar", pages_calendar_path, :class => "calendar" %></li>
  <li><%= link_to "About", pages_about_path, :class => "about" %></li>
  <li><%= link_to "Privacy", pages_privacy_path, :class => "privacy" %></li>
  <li><%= link_to "Contact us", pages_contact_path, :class => "contact" %></li>
  <li>
		<% if current_user %>
			<%= link_to "Sign out", session_path(current_user), :method => :delete, :class => "logout last" %>
		<% else %>
			<%= link_to "Sign in", new_session_path, :class => "login last" %>
		<% end %>
	</li>
</ul>
<%= content_tag(:div, current_user.email, :class => 'identity') if current_user %>
